<div class="container">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/route1">Route1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/route2">Route2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/route3">Route3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Route4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/route5">Route5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Route6</a>
  </li>
</ul>
</div>

<router-outlet></router-outlet>