<div class="border-div">
    <div style="text-align: center; padding-top: 1rem;">
        <label for="counterValue" style="margin-right: 1rem;">Enter Timer Limit</label>
        <input name="counterValue" id="counterValue" #countervalue value=1000/><br>
        <button class="btn btn-primary" style="margin-top: 1rem;" (click) = "timerClicked(countervalue)" >{{ timerBtnName }}</button>
        <button class="btn btn-secondary" style="margin-top: 1rem;margin-left: 1rem;" value="reset" (click)="resetClicked($event, countervalue)">Reset</button>
    
        </div>  
    </div>