.border-div{
    
    border: 2px solid #333;
    color: #333;
    position: absolute;
   width: fit-content;
  
}
.target {
    animation-name: leftToRight;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: rightToLeft 4.5s linear infinite; */
  }

.parent-class{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
    text-align: center;
}


@keyframes leftToRight {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(160px);
    }
  }